USE [PineappleFinance]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[bank_account_history]') AND type in (N'U'))
ALTER TABLE [dbo].[bank_account_history] DROP CONSTRAINT IF EXISTS [DF_bank_account_history_create_at]
GO
/****** Object:  Index [IX_bank_account_history]    Script Date: 2026-02-22 22:46:26 ******/
DROP INDEX IF EXISTS [IX_bank_account_history] ON [dbo].[bank_account_history]
GO
/****** Object:  Table [dbo].[bank_account_history]    Script Date: 2026-02-22 22:46:26 ******/
DROP TABLE IF EXISTS [dbo].[bank_account_history]
GO
/****** Object:  Table [dbo].[bank_account_history]    Script Date: 2026-02-22 22:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_account_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_of_month] [date] NOT NULL,
	[bank_id] [tinyint] NOT NULL,
	[account_code] [varchar](50) NOT NULL,
	[description] [varchar](128) NOT NULL,
	[balance] [decimal](18, 2) NOT NULL,
	[create_by] [smallint] NOT NULL,
	[create_at] [datetime] NOT NULL,
 CONSTRAINT [PK_bank_account_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_bank_account_history]    Script Date: 2026-02-22 22:46:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_bank_account_history] ON [dbo].[bank_account_history]
(
	[start_of_month] ASC,
	[account_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bank_account_history] ADD  CONSTRAINT [DF_bank_account_history_create_at]  DEFAULT (getdate()) FOR [create_at]
GO
