USE [PineappleFinance]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[investment]') AND type in (N'U'))
ALTER TABLE [dbo].[investment] DROP CONSTRAINT IF EXISTS [DF_investment_update_at]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[investment]') AND type in (N'U'))
ALTER TABLE [dbo].[investment] DROP CONSTRAINT IF EXISTS [DF_investment_create_at]
GO
/****** Object:  Table [dbo].[investment]    Script Date: 2026-02-22 22:46:26 ******/
DROP TABLE IF EXISTS [dbo].[investment]
GO
/****** Object:  Table [dbo].[investment]    Script Date: 2026-02-22 22:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[investment](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](128) NOT NULL,
	[reference_code] [varchar](128) NOT NULL,
	[investment_amount] [decimal](18, 2) NOT NULL,
	[effective_date] [datetime2](7) NOT NULL,
	[current_value] [decimal](18, 2) NOT NULL,
	[create_by] [smallint] NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_by] [smallint] NOT NULL,
	[update_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_investment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[investment] ADD  CONSTRAINT [DF_investment_create_at]  DEFAULT (sysutcdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[investment] ADD  CONSTRAINT [DF_investment_update_at]  DEFAULT (sysutcdatetime()) FOR [update_at]
GO
