USE [PineappleFinance]
GO
/****** Object:  Table [dbo].[expense]    Script Date: 2026-02-22 22:46:26 ******/
DROP TABLE IF EXISTS [dbo].[expense]
GO
/****** Object:  Table [dbo].[expense]    Script Date: 2026-02-22 22:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expense](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](128) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[create_by] [smallint] NULL,
	[update_at] [datetime2](7) NOT NULL,
	[update_by] [smallint] NULL
) ON [PRIMARY]
GO
