USE [PineappleFinance]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fixed_deposit]') AND type in (N'U'))
ALTER TABLE [dbo].[fixed_deposit] DROP CONSTRAINT IF EXISTS [FK_fixed_deposit_bank]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fixed_deposit]') AND type in (N'U'))
ALTER TABLE [dbo].[fixed_deposit] DROP CONSTRAINT IF EXISTS [DF_fixed_deposit_update_at]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fixed_deposit]') AND type in (N'U'))
ALTER TABLE [dbo].[fixed_deposit] DROP CONSTRAINT IF EXISTS [DF_fixed_deposit_create_at]
GO
/****** Object:  Table [dbo].[fixed_deposit]    Script Date: 2026-02-22 22:46:26 ******/
DROP TABLE IF EXISTS [dbo].[fixed_deposit]
GO
/****** Object:  Table [dbo].[fixed_deposit]    Script Date: 2026-02-22 22:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fixed_deposit](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[bank_id] [tinyint] NOT NULL,
	[description] [varchar](128) NOT NULL,
	[reference_code] [varchar](128) NOT NULL,
	[placement_amount] [decimal](18, 2) NOT NULL,
	[interest_per_annum_percentage] [decimal](18, 2) NOT NULL,
	[effective_date] [datetime2](7) NOT NULL,
	[tenor_in_days] [smallint] NOT NULL,
	[maturity_date]  AS (dateadd(day,[tenor_in_days],[effective_date])),
	[create_by] [smallint] NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[update_by] [smallint] NOT NULL,
	[update_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_fixed_deposit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fixed_deposit] ADD  CONSTRAINT [DF_fixed_deposit_create_at]  DEFAULT (sysutcdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[fixed_deposit] ADD  CONSTRAINT [DF_fixed_deposit_update_at]  DEFAULT (sysutcdatetime()) FOR [update_at]
GO
ALTER TABLE [dbo].[fixed_deposit]  WITH CHECK ADD  CONSTRAINT [FK_fixed_deposit_bank] FOREIGN KEY([bank_id])
REFERENCES [dbo].[bank] ([id])
GO
ALTER TABLE [dbo].[fixed_deposit] CHECK CONSTRAINT [FK_fixed_deposit_bank]
GO
