USE [PineappleFinance]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[role]') AND type in (N'U'))
ALTER TABLE [dbo].[role] DROP CONSTRAINT IF EXISTS [DF_role_update_at]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[role]') AND type in (N'U'))
ALTER TABLE [dbo].[role] DROP CONSTRAINT IF EXISTS [DF_role_create_at]
GO
/****** Object:  Index [IX_role]    Script Date: 2026-02-22 22:46:26 ******/
DROP INDEX IF EXISTS [IX_role] ON [dbo].[role]
GO
/****** Object:  Table [dbo].[role]    Script Date: 2026-02-22 22:46:26 ******/
DROP TABLE IF EXISTS [dbo].[role]
GO
/****** Object:  Table [dbo].[role]    Script Date: 2026-02-22 22:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](128) NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[create_by] [smallint] NOT NULL,
	[update_at] [datetime2](7) NOT NULL,
	[update_by] [smallint] NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_role]    Script Date: 2026-02-22 22:46:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_role] ON [dbo].[role]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[role] ADD  CONSTRAINT [DF_role_create_at]  DEFAULT (sysutcdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[role] ADD  CONSTRAINT [DF_role_update_at]  DEFAULT (sysutcdatetime()) FOR [update_at]
GO
