USE [PineappleFinance]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[role_assignment]') AND type in (N'U'))
ALTER TABLE [dbo].[role_assignment] DROP CONSTRAINT IF EXISTS [DF_role_assignment_update_at]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[role_assignment]') AND type in (N'U'))
ALTER TABLE [dbo].[role_assignment] DROP CONSTRAINT IF EXISTS [DF_role_assignment_create_at]
GO
/****** Object:  Table [dbo].[role_assignment]    Script Date: 2026-02-22 22:46:26 ******/
DROP TABLE IF EXISTS [dbo].[role_assignment]
GO
/****** Object:  Table [dbo].[role_assignment]    Script Date: 2026-02-22 22:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_assignment](
	[login_id] [smallint] NOT NULL,
	[role_id] [tinyint] NOT NULL,
	[create_at] [datetime2](7) NOT NULL,
	[create_by] [smallint] NOT NULL,
	[update_at] [datetime2](7) NOT NULL,
	[update_by] [smallint] NOT NULL,
 CONSTRAINT [PK_role_assignment] PRIMARY KEY CLUSTERED 
(
	[login_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[role_assignment] ADD  CONSTRAINT [DF_role_assignment_create_at]  DEFAULT (sysutcdatetime()) FOR [create_at]
GO
ALTER TABLE [dbo].[role_assignment] ADD  CONSTRAINT [DF_role_assignment_update_at]  DEFAULT (sysutcdatetime()) FOR [update_at]
GO
